
@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Dancing+Script&family=Diplomata+SC&family=Inter&family=Raleway:wght@100&family=Ribeye+Marrow&family=Roboto+Condensed:ital,wght@0,300;1,400&family=Vast+Shadow&display=swap');

body {
  font-family: Alkatra, sans-serif;
  margin: 0;
  font-size: 1.5rem;
  text-align: center;
  background-color: black;
  color: #fff;
}
